mat-card {
	margin: 16px;
	padding: 10px;
}

mat-form-field {
	margin-right: 15px;
	margin-bottom: 0px;
}

p {
	font-size: small;
	margin-top: 0px;
}

button {
	margin-top: 20px;
}

mat-card-actions {
	padding: 0px;
}

h2 {
	margin-top: 0px;
}
