<app-navbar />
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Update your information</h2>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form>
			<mat-form-field>
				<input
					matInput
					[(ngModel)]="userData.Username"
					placeholder="Username"
					type="text"
					name="Username"
					required
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					[(ngModel)]="userData.Password"
					type="password"
					placeholder="••••••••"
					name="Password"
					required
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					[(ngModel)]="userData.Email"
					type="email"
					placeholder="Email"
					name="Email"
					required
				/>
			</mat-form-field>
			<mat-form-field>
				<input
					matInput
					[(ngModel)]="userData.Birthday"
					type="date"
					placeholder="Birthday"
					name="Birthday"
				/>
			</mat-form-field>
		</form>
		<p>
			After you've changed your user data, you will be asked to log in
			again.
		</p>
		<mat-card-actions>
			<button mat-raised-button (click)="updateUser()" color="accent">
				Update
			</button>
		</mat-card-actions>
	</mat-card-content>
</mat-card>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<h2>Your favorite movies</h2>
		</mat-card-title>
	</mat-card-header>
	<app-favorite-movie-card />
</mat-card>
